# Node.js
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
*.log.*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS-specific files
.DS_Store
Thumbs.db

# VS Code
.vscode/
