<!-- Страница одной лекции -->
<header>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
 
 <div class="header-left-text">
 
 </div>

  <div class="header-right">
    <div class="user-avatar">
       <i class="fas fa-user"></i>
       <div class="site-header">Кыдыкбаева А.</div>
    </div>

    <div class="logout-icon" onclick="handleLogout()" title="Выйти">
      <i class="fas fa-sign-out-alt"></i>
    </div>
    
  </div>
</header>

<div class="onelection-container">
  <div class="lection-container">
    <h1 id="lection-title"><!-- Заголовок --></h1>

    <!-- Изображение -->
    {{!-- <div class="article-image">
      <img src="https://habrastorage.org/r/w780/getpro/habr/upload_files/707/14d/217/70714d217db9919ac788fc3a6d79f37f.jpg">
    </div>  --}}

    <div class="article-content" id="lection-content">
      <!-- Основной текст -->
    </div>

    <button class="test-button">
      <!-- Кнопка пройти тест -->
      <a href="./mainpage">Вернуться на главную</a>
    </button>

  </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function () {

    const queryParams = new URLSearchParams(window.location.search);

    // Получаем конкретный параметр, например id
    const id = queryParams.get('id');
    $.ajax({
      url: '/api/lections/'+id,
      method: 'GET',
      dataType: 'json',
      success: function (data) {
        $('#lection-title').html(data.title);

        const content = $('#lection-content');
        content.empty();
        content.html(data.content);        
      },
      error: function () {
      //$('#lecture-list').html('<p>Ошибка загрузки лекций.</p>');
      }
    });
  });
</script>
