  <div class="registration-container">
    <div class="form-container">
      <h2>Вход</h2>
      <div class="form-content">
      <form id="loginForm" novalidate action="/login" method="POST">
        <div class="form-group-login">
          <div>
            <label for="loginEmail">Email</label>
            <div class="input-wrapper">
              <i class="fas fa-envelope"></i>
              <input type="email" name="username" id="loginEmail" placeholder="Введите ваш email" required />
            </div>
            <div class="error-message">Пожалуйста, введите корректный email</div>
          </div>

          <div>
            <label for="loginPassword">Пароль</label>
            <div class="input-wrapper">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" id="loginPassword" placeholder="Введите пароль" required />
            </div>
            <div class="error-message">Пароль должен быть не менее 6 символов</div>
          </div>
        </div>

        <div class="button-wrapper">
          <button type="submit">Войти</button>
        </div>
        

        <div class="footer-text">
          Нет аккаунта? <a href="./register">Зарегистрироваться</a>
        </div>
    </form>
    </div>

        <!-- Картинка внизу формы -->
        <div class="bottom-image-wrapper">
          <img src="https://enactus.kg/wp-content/uploads/2022/04/kgtu-logo.png" alt="Логотип" class="bottom-image" />
        </div>

  </div>
  
 
  <script>
    const form = document.getElementById('loginForm');
    const emailInput = document.getElementById('loginEmail');
    const passwordInput = document.getElementById('loginPassword');
  </script>